@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&display=swap');
*{
    padding: 0px;
}

.nav-container{
    position: fixed;
    top: 0;
    background-color: #fffffff9;
    left: 0;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    z-index: 1;
}
.nav-part-1{
    padding: 1em  4em;

}

.nav-part-2{
    padding-right: 4em;
}

.primary-logo{
    font-family: 'Lato', sans-serif;
}

.mobile-menu{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.232);
}
.mobile-menu >ul{
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.mobile-menu >ul>li{
    padding: 1em 1em;
}
.mobile-menu >ul>li>a{
    color: black;
}
.nav-part-2>ul{
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    list-style-type: none;
}
.nav-part-2>ul>li{
    padding: 1em 1em;
}

.nav-part-2>ul>li>a{
    color: #000000;
}

.menu-ham{
    display: none;
}

@media (max-width: 850px){
    .nav-part-1{
        padding: 1em 1em;
    }
    .nav-part-2{
        padding-right: 1em;
    }
    .menu-ham{
        display: block;
    }
    .nav-part-2 > ul{
        display: none;
    }
}